@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*** RESET |> START ***/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  /* color: inherit;
  font-family: inherit;
  background-color: transparent; */
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/*** RESET |> END ***/





/*** ?ACCESIBILITY |> START ***/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
/*** ?ACCESIBILITY |> END ***/





/*** THEMES |> START ***/
:root {
  --max-width-app: 425px;

  --bg-body: #eff3f6;
  --bg-app-primary: #fff;
  --bg-app-secondary: #f3f5f7;

  --shadow-app: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

  --list-item-bg: rgb(34, 34, 34);

  --bg-hover: rgba(0 0 255 / .05);
  --bg-active: rgba(0 0 255 / .1);

  --text-color: #000;
  --small-color: rgba(0 0 0 / .3);

  --app-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

  --svg-transparent: rgba(0, 0, 0, .6);
}
/*** THEMES |> END ***/





/*** APP AREA |> START ***/
.main-container {
  background-color: var(--bg-body);
  min-height: 100dvh;
}

.app-container {
  display: grid;
  grid-template-rows: 1fr auto auto;
  margin: 0 auto;
  max-width: var(--max-width-app);
  min-height: 100dvh;

  font-family: 'Jost', sans-serif;

  background-color: var(--bg-app-primary);
  box-shadow: var(--shadow-app);
}

.app-area {
  padding: 2rem 1.5rem 1rem 1.5rem;
}

.button-panel {
  background-color: var(--bg-app-secondary);
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  align-items: center;

}
/*** APP AREA |> END ***/





/*** ICONS |> START ***/
.icon {
  display: inline-grid;
  position: relative;
  aspect-ratio: 1 / 1;

  border: 1px solid;
}

@media(pointer: coarse) {
  .icon span {
    display: block;
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 48px;
    top: calc(50% - (48px / 2));
    left: calc(50% - (48px / 2));

    background-color: rgba(0 255 0 / .5);
  }
}
/*** ICONS |> END ***/





/*** ITEMS LIST |> START ***/
.pointer-events-none {
  pointer-events: none;
}
/*** ITEMS LIST |> END ***/