@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --max-width: 425px;

  --body-bg: #eff3f6;
  --app-bg: #fff;
  --footer-bg: #f3f5f7;
  --input-bg: #f3f5f7;
  --list-item-bg: rgb(34, 34, 34);

  --bg-hover: rgba(0 0 255 / .05);
  --bg-active: rgba(0 0 255 / .1);

  --text-color: #000;
  --small-color: rgba(0 0 0 / .3);

  --app-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

  --svg-transparent: rgba(0, 0, 0, .6);
}

body.dark {
  --body-bg: #111;
  
  --app-bg: #333;
  --footer-bg: #454545;
  --input-bg: #454545;
  --list-item-bg: rgb(216, 216, 216);

  --bg-hover: rgba(175, 175, 243, 0.1);
  --bg-active: rgba(175, 175, 243, 0.2);

  --text-color: #fff;
  --small-color: rgba(255, 255, 255, 0.3);

  --app-shadow: 0 2px 6px 0 hsla(0, 0%, 100%, 0.2);

  --svg-transparent: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

input, button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  color: inherit;

  &:focus {
    outline: none;
  }

  &:disabled {
    color: currentColor;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

body {
  color: var(--text-color);
  background-color: var(--body-bg);
}

#app, .app {
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 auto;

  min-height: 100dvh;
  width: 100%;
  max-width: var(--max-width);

  font-family: "Jost", sans-serif;
  background-color: var(--app-bg);
  box-shadow: var(--app-shadow);
}

main {
  padding: .75rem 1.25rem;
  margin-top: 1rem;
}

h1 {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: .3lh;
}

footer {
  display: flex;
  place-content: center;
  gap: 1rem;

  padding: .75rem 1.25rem;
  background-color: var(--footer-bg);

  button, a {
    display: grid;
    place-content: center;
    
    width: 42px;
    height: 42px;

    cursor: pointer;
  }
}

.qr-code {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.input-group {
  background-color: var(--input-bg);
  
  border-radius: 5px;
  overflow: hidden;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
}

.input-group__input {
  padding: .5rem 1rem;
  padding-left: 0;
}

.input-group__button {
  grid-column: 1 / 2;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;

  svg {
    color: var(--svg-transparent)
  }
}

.list {
  list-style: none;
}

.list__item {
  --item-width: 10px;
  position: relative;
  
  padding: 0 1rem 0 2.5rem;
  margin: 3px 0;
  
  display: grid;
  grid-template-columns: 1fr auto;
  
  border-radius: 5px;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
  
  &::before {
    content: "";
    
    position: absolute;
    top: calc(50% - (var(--item-width) / 2));
    left: 1rem;
    
    aspect-ratio: 1 / 1;
    width: var(--item-width);
    border-radius: var(--item-width);
    
    background-color: var(--list-item-bg);
    opacity: .5;
  }
}

.list__item-input {
  padding: .5rem;
  display: block;
}

.list__item-button {
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;

  color: var(--svg-transparent);
}

.list__item.active {
  background-color: var(--bg-active);

  input {
    color: var(--svg-transparent);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.view-options {
  display: flex;
  justify-content: end;
  gap: .5rem;

  margin: calc(.5rem + 3px) 0 .5rem 0;
}

.view-options__option {
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  padding: .5rem;
  border-radius: 999rem;

  transition: all 200ms ease-in-out;
}

.view-options__option:has(:checked){
  background-color: var(--bg-active);
}

.view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-luggage {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;

  height: 100%;

  & > small {
    color: var(--small-color);
  }
}

.pointer-events-none {
  pointer-events: none;
}

.hidden {
  display: none;
}

.no-registers {
  text-align: center;
  
  img {
    width: 80%;
    display: block;
    aspect-ratio: 363 / 366;
    margin: 1rem auto 0 auto;
  }

  p {
    font-weight: 600;
  }
}

button, a, .hover-highlight {
  &:hover {
    background-color: var(--bg-hover);
  }
  &:focus {
    background-color: var(--bg-hover);
  }
}