@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/*** RESET |> START ***/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/*** RESET |> END ***/





/*** ?ACCESIBILITY |> START ***/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
/*** ?ACCESIBILITY |> END ***/





/*** THEMES |> START ***/
:root {
  --max-width-app: 425px;
  --rounded: 5px;

  --bg-body: #eff3f6;
  --bg-app-primary: #fff;
  --bg-app-secondary: #f3f5f7; /* Usado para resaltar cosas de la interfaz */

  --color-brand-1: #c0a499;
  --color-brand-1--50: rgba(192 164 153 / .5);
  --color-brand-2: #fedde4;
  --color-brand-2--50: rgba(254 221 228 / .5);


  --shadow-app: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

  --list-item-color: rgba(34 34 34 / .3);
  --list-item-color: #c0a499;
  
  --bg-hover: rgba(0 0 255 / .05);
  --bg-active: rgba(0 0 255 / .1);

  --text-color: #000;
  --small-color: rgba(0 0 0 / .3);

  --app-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

  --svg-transparent: rgba(0, 0, 0, .6);
}
/*** THEMES |> END ***/





/*** APP AREA |> START ***/
.main-container {
  background-color: var(--bg-body);
  min-height: 100dvh;
}

.app-container {
  display: grid;
  grid-template-rows: 1fr auto auto;
  margin: 0 auto;
  max-width: var(--max-width-app);
  height: 100dvh;

  font-family: 'Jost', sans-serif;

  background-color: var(--bg-app-primary);
  box-shadow: var(--shadow-app);
}

.app-area {
  padding: 2rem 1.5rem 1rem 1.5rem;
  overflow: auto;
  scrollbar-width: 0;
}

.button-panel {
  background-color: var(--bg-app-secondary);
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  align-items: center;

}
/*** APP AREA |> END ***/





/*** HEADER |> START ***/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    display: grid;
  }
}

h1 {
  font-size: 1.25rem;
  font-weight: 600;
  overflow: hidden;
  /* inline-size: 10px; */
}
/*** HEADER |> END ***/





/*** FORM |> START ***/
.form {
 /* background-color: pink; */
 margin: .5rem 0;
}

.form__inputs {
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: hidden;

  background-color: var(--bg-app-secondary);
  border-radius: var(--rounded);
  /* background-color: tomato; */
}

.form__inputs-input {
  /* background-color: turquoise; */
  padding: .5rem 1rem;
  border-right: 1px solid rgba(0 0 0 / .3);
}

.form__inputs-button {
  display: grid;
  padding: .5rem;
  cursor: pointer;
  /* background-color: darkorange; */
}

.form__error {
  display: block;
  min-height: 1lh;
  padding: 0 .5rem;
  /* background-color: cornflowerblue; */
}
/*** FORM |> END ***/





/*** VIEW ACTIONS |> START ***/
.view-actions {
  display: flex;
  justify-content: end;
  gap: 2rem;
  margin-bottom: .5rem;

  /* background-color: rebeccapurple; */
}
/*** VIEW ACTIONS |> END ***/





/*** MODAL SELECT |> START ***/
.modal-select__container {
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0 0 0 / .6);
  opacity: 0;
  animation: fade-in 300ms ease both;
}

.modal-select__modal {
  width: 100%;
  margin: 0 auto;
  max-width: calc(var(--max-width-app) - 32px);
  box-shadow: var(--app-shadow);

  border-radius: 2px;
  background-color: var(--bg-app-primary);
  animation: scale-in 300ms ease both;
}

.modal-select__body {
  padding: .5rem 1rem;
}

.modal-select__footer {
  display: block;
  width: 100%;
  padding: .5rem 0;
  background-color: var(--bg-app-secondary);
}

.modal-select--close {
  animation: fade-out 300ms ease both;

  .modal-select__modal {
    animation: scale-out 300ms ease both;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scale-in {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

@keyframes scale-out {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}
/*** MODAL SELECT |> START ***/





/*** LIST |> START ***/
.list {
  display: grid;
  row-gap: 3px;
}

.list__item {
  border-radius: var(--rounded);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  align-content: center;
  overflow: hidden;

  transition: all 300ms ease;
}

.list__item.active {
  background-color: var(--color-brand-2--50);
  color: var(--small-color);
}

.list__item--dot {
  position: relative;
  padding-left: 1rem;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 5px);
    left: calc(1rem - 5px);
    width: 10px;
    background-color: var(--list-item-color);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }
}

.list__padding {
  padding: .5rem 1rem;
}
/*** LIST |> END ***/





/*** ICONS |> START ***/
.icon {
  display: inline-grid;
  position: relative;
  aspect-ratio: 1 / 1;

  /* border: 1px solid; */
}

.icon span {
  display: none;
  position: absolute;
  aspect-ratio: 1 / 1;
  width: 48px;
  top: calc(50% - (48px / 2));
  left: calc(50% - (48px / 2));
  border-radius: 50%;

  /* background-color: rgba(0 255 0 / .2); */
}

@media(pointer: coarse) {
  .icon span {
    display: block;
  }
}
/*** ICONS |> END ***/





/*** ITEMS LIST |> START ***/
.pointer-events-none {
  pointer-events: none;
}

.luggage_id {
  margin-top: .5rem;
  color: rgba(0 0 0 / .5);
}
/*** ITEMS LIST |> END ***/





/*** QR GENERATOR |> START ***/
.qr-container {
  /* border: 1px solid; */
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  text-align: center;

  svg {
    animation: rotate 1000ms ease-in-out infinite;
  }
}

.qr-container__qr {
  width: 80%;
  margin: 0 auto;
  opacity: 0;
}

.qr-container__qr.fade-in {
  animation: fade-in 300ms ease-in-out both;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}
/*** QR GENERATOR |> END ***/

.view-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.view-list > :nth-child(4){
  flex-grow: 1;
}